{% extends 'store/base.html' %}
{% load static %}
{% block content %}
  <section class="container py-5">
    <h3>Shopping cart</h3>

    {% for item in cart %}
      {% with product=item.product %}
        <div class="row product-item p-3 my-3">
          <div class="col col-md-4 col-lg-2 order-md-first bg-light">
            <img src="{{ product.image.url }}" alt="Responsive image" class="img-fluid d-block mx-auto" witdh="200px" />
          </div>
          <div class="col col-md-8 col-lg-10">
            <a href="{{ product.get_absolute_url }}" class="link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><h5 class="py-2">{{ product.title }}</h5></a>
            <div class="bg-light">
              <div class="d-flex justify-content-between align-items-center p-3">
                <p class="my-auto">Product</p>
                <p class="my-auto h5 fw-bold" id="item-total-{{product.id}}">${{ item.total }}</p>
              </div>
            </div>
            <div>
              <div class="d-flex flex-column gap-2 mt-2">
                <div class="">
                  <div class="d-flex align-items-center justify-content-start gap-2">
                    <label for="product-quantity" class="form-label mb-0">Quantity</label>
                    <select class="form-select w-auto" id="select{{ product.id }}">
                      <option selected>{{ item.quantity }}</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex gap-2">
                  <button type="button" class="btn btn-primary update-button" data-index="{{ product.id }}">Update</button>
                  <button type="button" class="btn btn-danger delete-button" data-index="{{ product.id }}">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
    {% endfor %}
    <div class="col-12 text-end">
      <div class="h5 fw-bold">
        Sub total: $<div id="total" class="d-inline-flex">{{ cart.get_total }}</div>
      </div>
    </div>
  </section>
  <script>
    $(document).on('click', '.delete-button', function (e) {
      e.preventDefault()
      $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
          product_id: $(this).data('index'),
          csrfmiddlewaretoken: '{{csrf_token}}',
          action: 'post'
        },
        success: function (json) {
          location.reload()
          document.getElementById('cart-quantity').textContent = json.quantity
          document.getElementById('total').textContent = json.total
        },
        error: function (xhr, errmsg, err) {}
      })
    })
    
    $(document).on('click', '.update-button', function (e) {
      e.preventDefault()
      let product_id = $(this).data('index')
      $.ajax({
        type: 'POST',
        url: '{% url "cart_update" %}',
        data: {
          product_id: $(this).data('index'),
          product_quantity: $('#select' + $(this).data('index') + ' option:selected').text(),
          csrfmiddlewaretoken: '{{csrf_token}}',
          action: 'post'
        },
        success: function (json) {
          document.getElementById('cart-quantity').textContent = json.quantity
          document.getElementById('total').textContent = json.total
          document.getElementById('item-total-'+ product_id).textContent = '$' + json.item_total
        },
        error: function (xhr, errmsg, err) {}
      })
    })
  </script>
{% endblock %}
