asgiref==3.10.0
crispy-bootstrap4==2026.2
Django==5.2.7
django-crispy-forms==2.6
django-debug-toolbar==6.3.0
django-mathfilters==1.0.0
django-silk==5.5.0
django-storages==1.13.1
factory_boy==3.3.3
Faker==40.8.0
git-filter-repo==2.47.0
gprof2dot==2025.4.14
pillow==12.0.0
python-dotenv==1.2.1
ruff==0.15.12
sqlparse==0.5.3
tzdata==2025.2
