{% extends './base.html' %}
{% load static %}
{% block content %}
  <section class="py-4 text-center container">
    <div class="row py-5">
      <div class="col-lg-8 col-md-6 col-sm-5 mx-auto">
        <h2>MyStore... Shop smart. Live simple.</h2>
        <h5 class="lead text-muted mt-3 mb-3">Explore our extensive collection.</h5>
        <a href="#" class="btn btn-primary my-3">Create an account</a>
      </div>
    </div>
  </section>

  <section class="album py-5 border-secondary">
    <div class="container">
      <h5 class="pb-3">All products</h5>
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 g-4">
        <div class="col d-flex justify-content-center">
          <div class="card border-secondary mb-3 h-100" style="width: 18rem;">
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
              <h4 class="card-title">Secondary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="d-flex justify-content-between align-items-center">
                <h5></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
