{% include 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 col-md-8 p-5">
        <div class="mb-4">
          <h3>Welcome, {{ user }}!</h3>
          <br />
          <p>This is your dashboard where you can perform any of the following:</p>
          <ul>
            <li>Track your orders</li>
            <li>Manage your account</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-8 p-5">
        <div class="d-flex flex-column gap-5">
          <div>
            <h3>Track your orders</h3>
            <br />
            <a role="button" href="#" class="btn btn-primary">My orders</a>
          </div>

          <div>
            <h3>Manage your account</h3>
            <br />
            <a role="button" class="btn btn-primary" href="{% url 'profile_management' %}">Profile management</a>
            <a role="button" class="btn btn-danger" href="{% url 'logout_user' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
