{% include 'store/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="container bg-white shadow-md p-5 col-md-5 col-lg-5 col-sm-12">
      <form id="form" method="post" onsubmit="event.preventDefault();">
        {% csrf_token %}
        <div>
          <h3><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Complete your order</h3>

          <p>Please enter in the relevant information below.</p>

          <br />
          {{ form|crispy }}
        </div>

        <div class="my-3" id="paypal-button-container"></div>
        <br />
        <script src="https://www.paypal.com/sdk/js?client-id=AedH3LKGyDNT8my0JWFjHYeA6g6-mCvWWjgDqR4LmSTofqxnonX7Y5G1DSyByUKmTKFJyAGYhwBkugwx&currency=USD"></script>
      </form>
    </div>
  </div>
  <!-- Ajax integration -->

  <script>
    // Render the PayPal button into #paypal-button-container
    var total_price = '{{ cart.get_total }}'
    
    paypal
      .Buttons({
        style: {
          color: 'black'
        },
        onInit: function (data, actions) {
          actions.disable()
          const form = document.querySelector('#form')
    
          if (form.checkValidity()) {
            actions.enable()
          } else {
            actions.disable()
          }
    
          form.addEventListener('input', () => {
            if (form.checkValidity()) {
              actions.enable()
            } else {
              actions.disable()
            }
          })
        },
        onClick: function (data, actions) {
          const form = document.querySelector('#form')
          if (form.reportValidity()) {
            actions.resolve()
          } else {
            actions.reject()
          }
        },
        // Call your server to set up the transaction
        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [
              {
                amount: {
                  value: total_price
                }
              }
            ]
          })
        },
    
        // Call your server to finalize the transaction
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
            return $.ajax({
              type: 'POST',
              url: '{% url "complete_order" %}',
              data: {
                name: $('#name').val(),
                email: $('#email').val(),
                address1: $('#address1').val(),
                address2: $('#address2').val(),
                city: $('#city').val(),
                state: $('#state').val(),
                zipcode: $('#zipcode').val(),
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post'
              },
    
              success: function (json) {
                window.location.replace("{% url 'payment_success' %}")
              },
    
              error: function (xhr, errmsg, err) {
                window.location.replace("{% url 'payment_failed' %}")
              }
            })
          })
        },
    
        onError: (err) => {
          console.error(err)
        }
      })
      .render('#paypal-button-container')
  </script>
{% endblock %}
